@import "tailwindcss";

@theme {
    --background-primary: #99cfff;
    --background-secondary: #14a3bd;
    --foreground-primary: #0b1d39;
    --foreground-secondary: #3e82ff;
    --accent-primary: #d5533c;
    --accent-secondary: #b60c0c;
    --accent-tertiary: #cba35e;
}

:root {
    --background: var(--foreground-primary);
    --foreground: var(--background-primary);
    --accent: var(--accent-primary);
    --accent-2: var(--accent-secondary);
    --accent-3: var(--accent-tertiary);

    --scrollbar-bg: #001225;
    --scrollbar-thumb: var(--accent-tertiary);
    --scrollbar-thumb-hover: #f2c469;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-accent-2: var(--accent-2);
    --color-accent-3: var(--accent-3);

    --color-navy: var(--foreground-primary);
    --color-darkernavy: var(--scrollbar-bg);
    --color-teal: var(--background-secondary);
    --color-blue: var(--foreground-secondary);
    --color-skyblue: var(--background-primary);
    --color-redorange: var(--accent-primary);
    --color-maroon: var(--accent-secondary);
    --color-gold: var(--accent-tertiary);

    --font-sans: 'GltpStarion', sans-serif;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --background: var(--background-primary);*/
/*        --foreground: var(--foreground-primary);*/
/*        --accent: var(--accent-primary);*/
/*        --background-2: var(--background-secondary);*/
/*        --foreground-2: var(--foreground-secondary);*/
/*        --accent-2: var(--accent-secondary);*/
/*    }*/
/*}*/

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), Inter, Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

* {
    font-family: var(--font-sans), Inter, Arial, Helvetica, sans-serif;
}

h1 {
    @apply text-5xl font-bold my-4;
}

h2 {
    @apply text-3xl font-semibold my-3;
}

h3 {
    @apply text-2xl font-medium my-2;
}

h4 {
    @apply text-xl my-1;
}

h5 {
    @apply text-lg my-[0.5];
}

h6 {
    @apply text-sm mb-[0.25];
}

section {
    @apply px-4 md:px-14 lg:px-16 xl:px-20 py-2 flex flex-col items-center border-b-2 border-maroon;
}

section p, section small, section strong, section a {
    @apply text-start md:w-[90%] lg:w-[80%] xl:w-[66%];
}

section p {
    @apply mb-4;
}

@font-face {
    font-family: 'GltpStarion';
    src: url('/fonts/GltpStarionRegular.otf');
}

.title {
    @apply text-7xl font-thin text-center mb-1;
}

.subtitle {
    @apply text-center mb-4;
}

.btn {
    @apply px-6 py-4 m-2 rounded-4xl bg-[#437A89FF] border-2 border-navy text-sky-100 hover:bg-[#399CB4FF] transition-transform transition-colors duration-250 cursor-pointer text-6xl inline-flex items-center justify-center gap-3 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-offset-2 focus-visible:ring-skyblue active:scale-95 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-[#437A89FF];
}

.bg-img {
    background-image: url("/black-plane.svg"), url("/white-plane.svg");
    background-repeat: no-repeat, no-repeat;

    /* Left and right horizontally, centered vertically */
    background-position: left center, right center;

    /* Scale as needed (optional) */
    background-size: auto 60%; /* example height scaling */
}


/* Scrollbar colors for Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 20px;
    border: 3px solid var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}
